@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --default-color: rgb(40, 41, 41); 
    --primary-font-color: white;
    --opacity-color: 80%;
    --ghost-font-color: rgb(40, 41, 41);
    --color-none: 0%;
    --link-font-color: rgb(69, 37, 164);
    --footer-background: rgb(40, 44, 44); 
    --h3-footer-color: rgb(173, 173, 173); 


    --h3-font-size: 3rem;
}
html {
    font-family: sans-serif;
}

body {
    background-color: #F6F5F5;

}


main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }


