@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --default-color: rgb(40, 41, 41); 
    --primary-font-color: white;
    --opacity-color: 80%;
    --ghost-font-color: rgb(40, 41, 41);
    --color-none: 0%;
    --link-font-color: rgb(69, 37, 164);
    --footer-background: rgb(40, 44, 44); 
    --h3-footer-color: rgb(173, 173, 173); 


    --h3-font-size: 3rem;
}
html {
    font-family: sans-serif;
}

body {
    background-color: #F6F5F5;

}



  .pulsate-bck {
    animation: pulsate-bck 1s ease-in-out infinite both;
}
@keyframes pulsate-bck {
0% {
-webkit-transform: scale(1);
    transform: scale(1);
}
50% {
-webkit-transform: scale(0.9);
    transform: scale(0.9);
}
100% {
-webkit-transform: scale(1);
    transform: scale(1);
}
}

