@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --default-color: rgb(40, 41, 41); 
    --primary-font-color: white;
    --opacity-color: 80%;
    --ghost-font-color: rgb(40, 41, 41);
    --color-none: 0%;
    --link-font-color: rgb(69, 37, 164);
    --footer-background: #A6A396; 
    --h3-footer-color: #3E4237; 


    --h3-font-size: 3rem;
}
html {
    font-family: sans-serif;
}

body {
    background-color: #F0E8CD;
}

